<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit from</h1>
    <h2> <%=oldChat._id%> </h2>
    <form action="/chats/<%=oldChat._id%>?_method=PUT" method="POST">
        <textarea name="newMsg" id="newMsg" > <%=oldChat.msg%> </textarea>   
        <p>from <%= oldChat.from%> to <%=oldChat.to%></p>
        <button>Submit</button>
     </form>
</body>
</html>